@charset "UTF-8";

/*
.container {
    background-color: #333;
    border: 3px solid red;
    padding: 15px;
    display: grid;
    grid-template-columns: 30px auto 5px;
    height: 35vh;
    grid-template-rows: 70px 30px;
    gap: 20px;
}

.container div {
    background-color: #ccc;
    padding: 20px;
    border: 1px solid blue;
}
*/

/*
.container {
    background-color: #333;
    border: 3px solid red;
    padding: 15px;
    display: grid;
    gap: 5px;
    grid-template-areas: "header header header header"
    "sidebar content content content"
    "footer footer footer footer";
}



.container div {
    background-color: #ccc;
    padding: 10px;
    border: 1px solid blue;
}

#header {
    grid-area: header;
}

#sidebar {
    grid-area: sidebar;
    height: 70vh;
}

#content {
    grid-area: content;
}

#footer {
    grid-area: footer;
}
*/

/* 
.container {
    background-color: #333;
    border: 3px solid red;
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
    height: 50vh;
    align-items: center;
}

.container div {
    background-color: #ccc;
    padding: 20px;
    border: 1px solid blue;
}
*/

.container {
    background-color: #333;
    border: 3px solid red;
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.container div {
    background-color: #ccc;
    padding: 20px;
    border: 1px solid blue;
} 

#item1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

#item2 {
    grid-row-start: 2;
    grid-row-end: 4;
}

#item3 {
    justify-self: end ;
    height: 200px;
}

#item5 {
    justify-self: start;
    height: 200px;
}

#item4 {
    align-self: center;

}

#item6 {
    align-self: flex-end;
    
}